*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  html {
    font-size: 80%; /*1 rem = 10px; 10px/16px = 62.5% */
  }
}
@media (max-width: 900px) {
  html {
    font-size: 70%; /*1 rem = 9px, 9/16 = 50%*/
  }
}
body {
  font-family: "Montserrat", sans-serif !important;
}

.header {
  margin-top: 10rem;
}
.header > h1 {
  background-image: linear-gradient(to right bottom, #2d4386, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  font-size: 2.4rem;
  font-weight: 400;
  margin-bottom: 2rem;
  text-align: center;
}
.publication_categories {
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.publication_categories > div {
  cursor: pointer;
  position: relative;
  width: 20vw;
  height: 12rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.active {
  padding: 0.8rem;
  background-color: #304991;
  border-radius: 12px;
}
.publication_categories > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.publication_categories > div > span {
  position: absolute;
  bottom: 7%;
  left: 5%;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}
.publication_category > span {
  display: block;
  font-size: 2rem;
  color: #304991;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3rem;
}

.publication_category > table {
  padding: 0 5rem;
  width: 100%;
  margin-bottom: 5rem;
}
.publication_category > table tr:first-child {
  background-color: #304991;
  color: white;
  font-size: 1.3rem;
  font-weight: 400;
}
.publication_category > table tr:first-child > th {
  font-size: 1.4rem;
  font-weight: 300;
  margin-bottom: 2rem;
  padding: 1.2rem 0;
}
.publication_category > table tr {
  text-align: center;
}
.publication_category > table tr > td {
  padding: 0.6rem 0;
  border-bottom: 1px solid rgb(201, 200, 200);
  font-size: 1.1rem;
}

@media (max-width: 600px) {
  .publication_category > table {
    width: 60rem;
    padding: 0 2rem;
  }
  .publication_category {
    overflow-x: scroll;
  }
}
@media (max-width: 500px) {
  .publication_categories {
    margin: 1rem 0;
  }
  .publication_categories > div {
    width: 44vw;
  }
}
