*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
@media (max-width: 1200px) {
  html {
    font-size: 80%; /*1 rem = 10px; 10px/16px = 62.5% */
  }
}
@media (max-width: 900px) {
  html {
    font-size: 70%; /*1 rem = 9px, 9/16 = 50%*/
  }
}
body {
  font-family: "Montserrat", sans-serif !important;
}

/* Res section */

.res {
  margin: 12rem 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.res > div {
  width: 40vw;
  height: 30rem;
}
.res > div > h1 {
  background-image: linear-gradient(
    to right bottom,
    rgb(45, 67, 134),
    rgb(40, 180, 133)
  );
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3rem;
  text-align: center;
}
.res > div > p {
  width: 90%;
  text-align: justify;
  font-size: 1.3rem;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}
.composition {
  position: relative;
}
.composition__photo {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  transition: transform 0.2s;
  box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  transition: all 0.2s;
  position: absolute;
  z-index: 10;
  outline-offset: 2rem;
}
@media (max-width: 56.25em) {
  .composition__photo {
    float: left;
    position: relative;
    width: 33.333333%;
    box-shadow: 0 1.5 3rem rgba(0, 0, 0, 0.2);
  }
}
.composition__photo__p1 {
  left: 0;
  top: -2rem;
}
@media (max-width: 56.25em) {
  .composition__photo__p1 {
    top: 0;
    transform: scale(1.2);
  }
}
.composition__photo__p2 {
  right: 0;
  top: 2rem;
}
@media (max-width: 56.25em) {
  .composition__photo__p2 {
    top: -1rem;
    transform: scale(1.3);
    z-index: 100;
  }
}
.composition__photo__p3 {
  left: 20%;
  top: 10rem;
}
@media (max-width: 56.25em) {
  .composition__photo__p3 {
    top: 1rem;
    left: 0;
    transform: scale(1.1);
  }
}
@media (min-width: 800px) {
  .composition__photo:hover {
    transform: scale(1.05) translateY(-0.5rem);
    box-shadow: 0 2.5 4rem rgba(0, 0, 0, 0.5);
    z-index: 20;
  }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95);
  }
}

@media (max-width: 800px) {
  .res {
    flex-direction: column;
  }
  .res > div {
    width: 90vw;
  }
  .res > div:last-child {
    margin-top: -4rem;
    height: max-content;
  }
  .res > div > p {
    width: 100%;
  }
  .res > div > h1 {
    margin-bottom: 1rem;
  }
}
