*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@media (max-width: 1200px) {
  html {
    font-size: 80%; /*1 rem = 10px; 10px/16px = 62.5% */
  }
}
@media (max-width: 900px) {
  html {
    font-size: 70%; /*1 rem = 9px, 9/16 = 50%*/
  }
}

body {
  font-family: "Montserrat", sans-serif !important;
}

/* Shop Section */

.shop .shop_header {
  margin-top: 7rem;
  text-align: center;
}
.shop .shop_header > img {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}
.shop .shop_header > h1 {
  background-image: linear-gradient(to right bottom, #2d4386, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
  font-size: 2.4rem;
  font-weight: 500;
  padding: 2rem 0 1rem 0;
}
.shop .shop_header > p {
  width: 70%;
  margin: auto;
  font-size: 1.3rem;
  line-height: 26px;
  letter-spacing: 0.5px;
}
.shop .shop_categories {
  margin: 4rem 0;
}
.search_field {
  margin: auto;
  width: 70vw;
  position: relative;
  margin-bottom: 2rem;
}
.search_field > input {
  width: 100%;
  padding: 1rem;
  font-size: 1.3rem;
}
.search_field > i {
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translateY(-50%);
  color: #999;
  font-size: 1.3rem;
}
.categories {
  display: flex;
  justify-content: center;
  align-items: center;
}
.category {
  background-color: white;
  outline: none;
  color: #999;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}
.active {
  color: #000;
  border-bottom: 1px solid #000;
}
.category:not(:last-child) {
  margin-right: 1rem;
}
.dropdown {
  width: 30%;
  border-right: 2px solid #dde2f1;
  color: #9fa3b1;
  position: relative;
  cursor: pointer;
  margin: 2rem auto;
  border: 1px solid #000;
}

.dropdown .default_option {
  text-transform: uppercase;
  padding: 13px 15px;
  font-size: 1rem;
  text-align: start;
}

.dropdown ul {
  position: absolute;
  z-index: 100;
  top: 70px;
  left: -10px;
  background: #fff;
  width: 100%;
  border-radius: 5px;
  padding: 20px;
  display: none;
  box-shadow: 8px 8px 6px -10px #b3c6ff;
}
.dropdown ul.active {
  display: block;
}

.dropdown ul li {
  padding-bottom: 20px;
  list-style: none;
  text-align: start;
  font-size: 1rem;
}

.dropdown ul li:last-child {
  padding-bottom: 0;
}

.dropdown ul li:hover {
  color: #2d4386;
}

.dropdown:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 20px;
  border: 8px solid;
  border-color: #2d4386 transparent transparent transparent;
}

.shop .items {
  padding: 2rem 3rem;
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.shop .items .item_card {
  width: 28vw;
  height: 26rem;
  background: #f7f4f4;
  margin-bottom: 4rem;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.shop .items .item_card > img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
.item-info {
  position: relative;
  padding: 1rem 0 1rem 0.7rem;
}
.item-info > span {
  display: block;
  text-transform: capitalize;
  font-size: 1.3rem;
  letter-spacing: 0.6px;
  margin-bottom: 0.6rem;
}
.item-info > small {
  font-size: 1rem;
  color: #304991;
}
.item-info > i {
  position: absolute;
  right: 5%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #9fa3b1;
  cursor: pointer;
}
.item-info > i:hover {
  color: #304991;
}
.item-info > i::before {
  background: white;
  padding: 1rem;
  border-radius: 50%;
  box-shadow: 0 1px 5px #999;
}

/* Media Queries */

@media (max-width: 850px) {
  .shop .items {
    padding: 2rem 1rem;
  }
  .shop .shop_header {
    margin-top: 6rem;
  }
}
@media (max-width: 770px) {
  .shop .items {
    padding: 2rem 0rem;
  }
  .categories {
    flex-wrap: wrap;
    margin: 0 1rem;
  }
  .category {
    margin-bottom: 1rem;
  }
  .dropdown {
    width: 50%;
  }
  .shop .items .item_card {
    width: 45%;
  }
  .search_field {
    width: 90vw;
  }
  .shop .shop_categories {
    margin: 2rem 0;
  }
}

@media (max-width: 450px) {
  .shop .items .item_card {
    width: 95%;
  }
}
