$Primary-linear-gradient: linear-gradient(to right bottom, #2d4386, #4060bf, #28b485);
.header{
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.navigation{
    display: flex;
    padding: 0.5rem 1rem 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    background: white;  
    box-shadow: 0 10px 20px rgba( black, .2); 
    border-bottom: 4px solid  $Primary-color;
}
.navigation_logo-1{
   width: 12rem;
   height: 5rem;
   object-fit: contain;
   margin-right: 1rem;
}
.navigation_logo-2{
    width: 5rem;
    height: 5rem;
    object-fit: contain;
 }
.nav_links{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.search-box {
    border-radius: 50px;
    position: relative;
    margin-right: 0.4rem;
    padding: 0 0.5rem;
}
  
.search-btn {
    text-decoration: none;
    color: #3d3d3d;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 2s;
}
.search-input {
    position: absolute;
    top: 50%;
    left: 50%;
    border: none;
    outline: none;
    float: left;
    padding: 0;
    font-size: 16px;
    transition: 0.4s;
    width: 0;
    z-index: 100;
}
  
.search-box:hover > .search-input {
    width: 8rem;
    padding: 0.5rem 7px;
    border: 1px solid #3d3d3d;
}
.dropdown {
  font-size: 1.1rem;
  padding: 0 0.5rem;
  position: relative;
  display: inline-block;
  border-right: 1px solid #3d3d3d;
  border-left: 1px solid #3d3d3d;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  left: 0%;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content > p{
    width: 100%;
    padding: 0.3rem 0.5rem;
    border-bottom: 1px solid #3d3d3d;
    & > a{
        color: #3d3d3d;
        text-decoration: none;
    }
    &:hover{
        background-color: rgb(230, 230, 230);
    }
}
.dropdown-content-2{
    left: 15%;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.nav_links > ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_links > ul:nth-child(2) > a{font-size: 0.6rem;}
.nav_links > ul:not(:last-child) > a:not(:last-child){
    border-right: 1px solid #999; 
}
.nav_links > ul:not(:last-child){
    margin-bottom: 0.3rem;
    justify-content: flex-end;
    width: 45%;
}
.nav_links > ul > a{
    color: $Primary-color;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 0.4rem;
}
.nav_links > ul:first-child > .btn{text-decoration: none;}
.nav_links > ul:nth-child(2)  button{
    cursor: pointer;
    background: $Primary-color;
    outline: none;
    border: none;
    padding: 0.6rem 0.4rem;
    color: white;
    font-size: 1rem;
    width: 8rem;
    margin-left: 1rem;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.nav_links > ul > a > img{
    width: 2.5rem;
    height: 2rem;
    object-fit: contain;
    padding: 0 0.2rem;
}
.nav_links > ul:nth-child(2) > a:nth-child(3)> img{
    width: 4rem;
}
.nav_link{
    color: $Primary-color;
    text-decoration: none;
    font-size: 1.2rem;
    &:hover{
        text-decoration: solid !important;
    }
}
.fixed{
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 100000;
}
.active{
    border-bottom: 3px solid #304991;
}
.headerLogo{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 3rem;
}
.navigation__icon,
.navigation__icon::before,
.navigation__icon::after{
    position: relative;
    top: 10%;
    left: 1.5%;
    display: inline-block;
    width: 3rem;
    height: 3px;
    background-color: #3d3d3d;
}

.navigation__icon::before,
.navigation__icon::after{
    content:"";
    position: absolute;
    left: 0;
    transition: all .2s;
}
.navigation__icon::before{
    top: -.8rem;
}
.navigation__icon::after{
    top: .8rem;
}

.navigation__button:hover .navigation__icon::before{top: -1rem;}
.navigation__button:hover .navigation__icon::after{top: 1rem;}