.visit_us{
    background:  rgba(48, 73, 145,0.8);
    color: white;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    font-weight: bold;
    width: 100%;
    padding: 4rem 4rem 5rem 4rem;
    position: relative;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-content{
        height: 100%;
        position: relative;
        z-index: 1;
        margin: auto;
        vertical-align: middle;
        & > h2{
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }
        & > h3{
            margin-bottom: 0.3rem;
            font-size: 1.8rem;
        }
        & > a{
            color: white;
            font-size: 1.5rem;
            text-decoration: none;
        }
        &-1{width: 55%;}
        &-2{
            & > a{
                font-size: 1.2rem;
                font-weight: lighter;
            }
        }
    }
    &::after{
        background: $Primary-color;
        -webkit-clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%);
        clip-path: polygon(100% 0, 0 100%, 0 100%, 100% 100%);
        content: '';
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        transition: all 0.2s;
    }
    &:hover::after{
        clip-path: polygon(-6% 0, 0 100%, 0 100%, 100% 100%);
    }
}